{{#isQueryParam}}@Query('{{paramName}}') {{/isQueryParam}}{{#isPathParam}}@Param('{{paramName}}') {{/isPathParam}}{{#isBodyParam}}@Body() {{/isBodyParam}}{{paramName}}{{^required}}?{{/required}}: {{#isEnum}}{{#allowableValues}}{{#values}}"{{.}}"{{^-last}} |{{/-last}} {{/values}}{{/allowableValues}}{{/isEnum}}{{^isEnum}}{{dataType}}{{/isEnum}} {{#vendorExtensions.isDefaultValueNull}}= {{defaultValue}}{{/vendorExtensions.isDefaultValueNull}}